json={
  "": "0",
  "credentials": {
    "scope": "GLOBAL",
    "id": "ansible-ssh",
    "username": "{{ vault_ssh_username }}",
    "privateKeySource": {
      "privateKey": "{{ vault_ssh_private_key }}",
      "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource"
    },
    "passphrase": "{{ vault_ssh_passphrase }}",
    "description": "Ansible SSH Credential",
    "$class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey"
  }
} 